<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cds.jndelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
    </script>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
    <ul>
        <% if (locals.trip) { %>
            <% locals.trip.forEach(function(place) { %>
            <li>
                
                <%=place.transportation %>, <%= place.startdate %>, <%=place.enddate %>, <%=place.tripname %>

            </li>
            <% }); %>
        <% } %>
    </ul>
    </div>
</main>
</body>
</html>